body{
    background: radial-gradient(#1c1c1c, #160554);
}

img{
    height: 20em;
    width: 25em;
}

article{
    display:grid;
    grid-auto-flow: column;
}

.fotos{
display:grid; 
overflow: scroll;
overflow-y: hidden;
gap:1.5em;
grid-auto-flow: column;
margin-top: 7em;
border-radius: 2em;

}

img{
    border-radius:  2em;
    border: 3px solid #ffffff;
    box-shadow: rgba(270, 255, 255, 0.35) 0px 5px 15px;
}

header{
    display: grid;
    grid-auto-flow: column;
    color: rgb(58, 64, 88);
   
}

.title{
    font-size:2em;
    font: small-caps bold 24px/1 sans-serif;
}

.other{
    margin-left: 1em;
    font-size: 3em;
    font: small-caps bold 24px/1 sans-serif;
    
 }

li{
    text-decoration: none;
    display: inline-flex;
}
a{
    text-decoration: none;
}

a:visited{
    color:rgb(255, 255, 255);
}

