div {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
  
}

img{
border: 5px solid #000000;
border-radius: 10em;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
transition-duration: 1s;

}

img:hover{
  border: 5px solid #ffffff;
}

p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: auto;
  text-align: center;
  

}

a{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: block;
text-align: center;
padding: 10px 20px;
background: linear-gradient(0.25turn, hwb(242 20% 32%), #0077B6, #605bdf);
color: #fff;
border-radius: 4px;
text-decoration: none;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
transition-duration: .3s;
margin-top: 1em;
width: 10em;
}
a:hover{
  scale:1.1 0.9;
}



.container{
display:grid; 
grid-template-columns: 1fr 1fr 1fr 1fr;
overflow: scroll;
scrollbar-width: 300px;
overflow-y: hidden;
gap:1.5em;
grid-auto-flow: column;
height: 500px;

}


.blokje{
    list-style: none;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    margin-top: 7em;
    transition-duration: 1s;
    height:300px;
    width:200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.blokje:hover{
    background-color: black;
    color: white;
	scale: 1.1;  
    border-color: white;
	scale: 1.1;

} 


body{
  background: radial-gradient(#000000, #0507A9);
}

h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 100px;
  margin: auto;
  align-items: center;
  color: #ffffff;
  text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), 1px 1px 0 darkgreen,
  1px 1px 0 rgb(0, 0, 0);
}

header{
display: grid;
grid-auto-flow: column;
color: rgb(58, 64, 88);

}

li{
text-decoration: none;
display: inline-flex;
}

a{
text-decoration: none;
}

header{
  display: grid;
  grid-auto-flow: column;
  color: rgb(58, 64, 88);
 
}

nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
}

.logo{
  width: 200px;
  height: 200px;
  border: none;
  pointer-events: none;
}


.navbar{
  cursor: pointer;
  border: solid #0077B6;
  font-size: 20px;
  color: #ffffff;
  padding: 10px 30px;
  transition: 2s;
  width: 335px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 50px;
  background: #0077B6;
  }
  
  .navbar:hover{
  color: rgb(255, 255, 255);
  width: 337px;
  background: rgb(0, 102, 204) none repeat scroll 0% 0% / auto padding-box border-box;
  border-color: rgb(204, 0, 105);
  border-width: 2px;
  border-style: solid;
  }





/* Mobile view Als het scherm tussen de 250px en 480px breed is, gebruik dan een grid met één kolom." */
@media screen and (min-width:250px) and (max-width:480px) {
  .container{
    grid-template-columns: repeat(1,1fr);
  }
}

 /* Tablet View Voor schermen tussen de 481px en 768px (zoals tablets), stel je een grid in met drie kolommen. */
 @media screen and (min-width:481px) and (max-width:768px) {
  .container{
    grid-template-columns: repeat(3,1fr);
  }
}
 /* Laptop View Voor schermen tussen 769px en 1024px (zoals laptops), stel je een grid in met vier kolommen. */
 @media screen and (min-width:769px) and (max-width:1024px) {
  .container{
    grid-template-columns: repeat(4,1fr);
  }
}